<!DOCTYPE html>
<html lang="Es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85fec555d4.js" crossorigin="anonymous"></script>
    <script src=https://api.whatsapp.com/send?phone crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>

<body>
    <header class="mi-header">

        <div class="parte-superior">
            <img src="/img/logo-mercado-liebre.svg" class="logo">


            <div class="barra-busqueda">
                <form action="">
                    <input type="text" placeholder="Buscar Productos y Mas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>

            </div>



            <i class="fa fa-hand-holding-usd"></i>
            <h2 class="mi-h2">Compra en cuotas y sin tarjeta de credito</h2>


        </div>

        <nav class="parte-inferior">

            <a href="#" class="button">
                <i class="fa fa-bars"> </i>



            </a>

            <div id="whatsapp-icon" style="position:fixed; left:10px; bottom:10px; text-align:center; padding:3px">
                <a href="https://api.whatsapp.com/send?phone=+34662681XXX">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png"
                        width="50" height="50"></a>
            </div>


            <ul class="text-uno">
                <li><a href="#"></a>Oferta</a></li>
                <li>Tiendas Oficiales</a></li>
                <li>Vender</a></li>
                <li>Ayuda</a></li>
            </ul>

            <ul class="text-dos">
                <li><a href="./formulario.html">Crea Tu Cuenta</a></li>
                <li><a href="./login.html">Ingresar</a></li>
                <li><a href="./home.html">Mis Compras</a></li>
            </ul>


    </header>


    <div class="banner">
        <img class src="/img/img-home-banner.jpg" width="100%" height="80%">
    </div>

    <main class="pantalla">

        <article class="articulo">
            <h3><strong>Basado en la Ultima Visita</strong></h3>
            <img src="/img/img-macbook-pro-2019.jpg" style width="180px" height="180px">
            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook Pro 2019</strong></p>

        </article>
        <article class="articulo">
            <H3><strong>Seccion de Ofertas</strong></H3>
            <img class prueba src="/img/img-samsung-galaxy-s10.jpg" style width="180px" height="180px">
            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>Sansung GalaxyPro S10</strong> </p>
        </article>

        <article class="articulo">

            <h3><strong>Basado en la Ultima Visita</strong></h3>
            <img class src="/img/img-cafetera-moulinex.jpg" style width="180px" height="180px">
            <p>$15.000</p>
            <p>20% off</p>
            <p><strong>Cafetera Moulinex</strong> </p>
        </article>

        <article class="articulo">
            <h3><strong>Seccion de Ofertas</strong></h3>
            <img class src="/img/img-tv-samsung-smart.jpg" style width="180px" height="180px">
            <p>$60.000</p>
            <p>10% descuento</p>
            <p><strong>TV Samsung Smart</strong> </p>
        </article>

        </article>
    </main>

 
    <footer>
        <div class="footer">

            <div><i class="fas fa-credit-card icono"></i>
                <h4><strong>PAGA CON TARJETA O EFECTIVO</strong></h4>
                <P>Con Mercado Liebre Cash, tienes cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y
                    siempre es seguro!</P>
            </div>

            <div>
                <i class="fas fa-gift regalo"></i>
                <h4><strong>ENVIO GRATIS DESDE $2.500</strong></h4>
                <p>Solo por estar registrado en mercado Liebre, tienes envios gratis en miles de productos.Es un
                    beneficio de Mercado Puntos.</P>
            </div>

            <div>
                <i class="fas fa-user-shield seguridad"></i>
                <h4><strong>SEGURIDAD, DE PRINCIPIO A FIN</strong></h4>
                <P>¿No Te Gusta? ¡ devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas
                    siempre
                    protegido</P>
                <h6><strong>Copyrigh 1999-2020 Mercado Liebre</strong></h6>
            </div>

    </footer>



</body>

</html>